<div class="container">
  <%= render 'shared/errors', obj: @article %>
  <%= form_with(model: @article, local: true) do |f| %>
    <div class="contents row">
      <div class="contact-form">
        <div class="item">
          <p>
            <%= f.label :title ,class:"label" %><br/><br/>
            <%= f.text_field :title %>
          </p>
        </div>
        <div class="item">
          <p>
            <%= f.label :image, class:"label" %><br/><br/>
            <%= f.file_field :image%>
          </p>
        </div>
        <div class="item">
          <p>
            <%= f.label :description, class:"label" %><br/><br/>
            <%= f.text_area :description %>
          </p>
        </div>
        <div class="item no-label">
          <%= f.submit class:"label" %>
        </div>

        <div class="item no-label">
          <%= link_to '[ Cancel and return to articles listing ]', articles_path, class:"label" %>
        </div>
      </div>
    </div>
  <% end %> 
</div>
